@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 0px;
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.1;
}
